/*STYLES GENERAUX*/
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body, html {
    padding: 3px 3px 3px 3px;

    /*background-color: #fff;*/
    background-color: #ededed;

    font-family: Verdana, sans-serif;
    font-size: 12pt;
    text-align: center;
}

a {
    text-decoration: none;
    color: #a47361;
}

a:hover {
    color: #dd4814;
}
/*FIN STYLES GENERAUX*/


/*MAIN PAGE*/
div.main_page {
    position: relative;
    display: table;

    /*width: 95%;
    margin: 0px auto 0px auto;*/
    width: 80%;
    margin: 20px auto 20px auto;

    padding: 20px 10px 20px 10px;
    border-radius: 15px;

    /*box-shadow: 0px 0px 0px #bbb;*/
    box-shadow: 0px 0px 10px #bbb;

    background-color: #FFFFFF;
    text-align: center;
}
/*FIN MAIN PAGE*/


/*FLOATING*/
.floating_element {
    position: relative;
    float: left;
}
/*FIN FLOATING*/


/*HEADER*/
div.page_header {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

div.page_header img {
    margin: 3px 0px 3px 40px;
    border: 0px 0px 0px;
    width: 150px;
    height: 150px;
}

div.page_header span {
    /*margin: 55px 0px 0px 882px;*/
    margin: 55px 0px 0px 300px;
    
    font-size: 180%;
    font-weight: bold;
    text-align: left;
}
/*FIN HEADER*/


/*CONTENT SECTION*/
div.content_section {
    margin: 3px 3px 3px 3px;
    background-color: #FFFFFF;
    text-align: left;
}

div.section_header {
    padding: 3px 6px 3px 6px;
    margin: 12px 0px 16px 0px;
    background-color: #dd4814;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 115%;
    text-align: center;
}

div.content_section_text {
    color: #000000;
    font-size: 100%;
}

div.content_section_text p {
    margin:  0px 0px 6px 0px;
}
/*FIN CONTENT SECTION*/


/*SECTION INFORMATIONS DE CONTACT*/
.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-flex p:first-child {
    flex: 0 0 40%;
}

.contact-flex p:last-child {
    flex: 0 0 60%;
}

/*Style all font awesome icons*/
.fa {
    padding: 10px;
    font-size: 28px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
/*------------------------------*/

/*Add a hover effect if you want*/
.fa:hover {
    opacity: 0.7;
}
/*------------------------------*/

/*Set a specific color for each brand*/
/*Facebook*/
.fa-facebook {
    background-color: #3B5998;
    color: white;
}

/*Twitter*/
.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

/*Linkedin*/
.fa-linkedin {
    background-color: #007BB5;
    color: white;
}

/*Youtube*/
.fa-youtube {
    background-color: #BB0000;
    color: white;
}
/*------------------------------*/

.social {
    display: flex;
    justify-content: space-around;
    margin: 15px auto 0px auto;
}
/*FIN SECTION INFORMATIONS DE CONTACT*/


/*SECTION QUI SUIS JE ?*/
/*BTN*/
.btn {
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 12px 0px 12px 0px;
    color: #FFFFFF;
    background-color: #a47361;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 5px;
}

.btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #dd4814;
    color: #dd4814;
    box-shadow: 0px 0px 10px #111;
}
/*FIN BTN*/
/*FIN SECTION QUI SUIS JE ?*/


/*SECTION EXPERIENCES PROFESSIONNELLES && FORMATIONS*/
div.content_section_text ul,
div.content_section_text li {
    padding: 4px 8px 4px 20px;
}
/*FIN SECTION EXPERIENCES PROFESSIONNELLES && FORMATIONS*/


/*SECTION COMPETENCES*/
.h3 {
    width: 90%;
    margin-bottom: 6px;
}

.competences {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.competences2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.competences p {
    flex: 0 0 30%;
}

.conteneur-barre {
    flex: 0 0 70%;
    border-radius: 5px;
    background-color: #bbb;
    border-bottom: 1px ridge #bbb;
}

.conteneur-barre2 {
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: #bbb;
}

.barre {
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c85 {
    width: 85%;
    background-color: #a47361;
}

.c90 {
    width: 90%;
    background-color: #a47361;
}

.c95 {
    width: 95%;
    background-color: #a47361;
}

.c100 {
    width: 100%;
    background-color: #a47361;
    border-radius: 5px;
}
/*FIN SECTION COMPETENCES*/


/*CENTRE D'INTERET*/
section#centre_d_interet .content_section_text ul {
    list-style-type: none;
}
/*FIN CENTRE D'INTERET*/


/*VERSION MOBILE DU CV*/
@media (max-width: 916px) {
    /*HEADER*/
    div.page_header span {
        margin: 55px 0px 0px 150px;
    }
    /*FIN HEADER*/
}

@media (max-width: 729px) {
    /*HEADER*/
    div.page_header span {
        margin: 55px 0px 0px 100px;
    }
    /*FIN HEADER*/
}

@media (max-width: 667px) {
    /*HEADER*/
    div.page_header span {
        margin: 55px 0px 0px 40px;
    }

    div.page_header span {
        font-size: 155%;
    }
    /*FIN HEADER*/
}

@media (max-width: 553px) {
    /*HEADER*/
    div.page_header img {
        margin: auto;
    }

    div.page_header span {
        margin: 40px 0px 0px 10px;
        font-size: 155%;
    }
    /*FIN HEADER*/
}

@media (max-width: 500px) {
    /*MAIN PAGE*/
    div.main_page {
        width: 95%;
        margin: auto;
        padding: auto;
        box-shadow: 0px 0px 0px;
    }
    /*FIN MAIN PAGE*/

    /*HEADER*/
    div.page_header img {
        margin: auto;
        width: 100%;
        height: 100%;
    }

    div.page_header span {
        margin: auto;
        font-size: 250%;
    }
    /*FIN HEADER*/
}